---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
import Timeline from '../components/Timeline.astro';
import Community from '../components/Community.astro';
import Prizes from '../components/Prizes.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Prizes/>
		<Stats/>	
		<Features/>
		<Timeline/>
		<Blog/>
		<Testimonials/>
		
		<Community/>
		<CallToAction/>
	</main>
</Layout>