<div id="blog">
  <div class="flex flex-col px-10">

    <div class="mb-12 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">PRIZES</h2>
    </div>

    <div class="flex flex-col gap-8">

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2 px-4 pt-4 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <h3 class="text-4xl font-semibold text-gray-800 dark:text-gray-300 text-center">
            Platinum
          </h3>
          <br>
          <div class="flex gap-4 items-center flex-row flex-wrap justify-evenly">
            <img src="./images/clients/dataverseOS.svg" alt="DataverseOS" class="h-12 w-12 md:h-20 md:w-20" loading="lazy">
            <img src="./images/clients/Devfolio-white.svg" alt="Devfolio" class="w-32 md:w-48" loading="lazy">
            <img src="./images/clients/polygon.svg" alt="Polygon" class="h-24 md:h-32" loading="lazy">
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2 px-4 pt-4 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <h3 class="text-4xl font-semibold text-gray-800 dark:text-gray-300 text-center">
            Gold
          </h3>
          <br>
          <div class="flex gap-4 items-center pb-10 flex-row flex-wrap justify-evenly">
            <img src="./images/clients/Quillaudits.svg" alt="Quillaudits" class="h-12 md:h-24 w-auto" loading="lazy">
            <img src="./images/clients/gmc.svg" alt="GMC" class="h-12 md:h-24 w-auto" loading="lazy">
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2 px-4 pt-4 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <h3 class="text-4xl font-semibold text-gray-800 dark:text-gray-300 text-center">
            Silver
          </h3>
          <br>
          <div class="flex gap-4 items-center flex-row flex-wrap justify-evenly">
            <img src="./images/clients/filecoin.svg" alt="FileCoin" class="h-12 md:h-32" loading="lazy">
            <img src="./images/clients/Replit.svg" alt="Replit" class="h-12 md:h-32" loading="lazy">
            <img src="./images/clients/solana.svg" alt="Solana" class="h-6 md:h-12" loading="lazy">
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2 px-4 pt-4 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <h3 class="text-4xl font-semibold text-gray-800 dark:text-gray-300 text-center">
            Bronze
          </h3>
          <br>
          <div class="flex gap-4 items-center pb-10 flex-row flex-wrap justify-evenly">
            <img src="./images/clients/interview-cake.svg" alt="InterviewCake" class="h-8 md:h-16" loading="lazy">
            <img src="./images/clients/interviewBuddy.svg" alt="InterviewBuddy" class="h-8 md:h-16" loading="lazy">
            <img src="./images/clients/axure.svg" alt="Axure" class="h-6 md:h-12" loading="lazy">
            <img src="./images/clients/XYZ-Logo.svg" alt="xyz" class="h-8 md:h-16" loading="lazy">
            <img src="./images/clients/verbwire.svg" alt="Verbwire" class="h-8 md:h-16" loading="lazy">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>