
<div id="blog">
  <div class="flex flex-col px-10">

    <div class="mb-12 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">SPONSOR'S</h2>
    </div>

    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-2 px-4 pt-4 rounded-3xl bg-opacity-50 shadow-2xl shadow-gray-600/10 bg-white hover:bg-[url(../images/metallic-textured-background.jpg)] bg-blend-multiply hover:bg-sky-600 border border-gray-100 dark:bg-gray-700 dark:hover:bg-sky-800 dark:shadow-none dark:border-gray-700">
          <h3 class="text-4xl font-semibold text-gray-800 dark:text-sky-50 text-center">
            Platinum
          </h3>
          <br>
          <div class="flex gap-4 items-center flex-row flex-wrap justify-evenly">
            <img src="./images/clients/dataverse.png" alt="DataverseOS" class="h-12 w-22 md:h-12 md:w-22" loading="lazy">
            <img src="./images/clients/Devfolio.svg" alt="Devfolio" class="w-32 md:w-48" loading="lazy">
            <img src="./images/clients/polygon.svg" alt="Polygon" class="h-24 md:h-32" loading="lazy">
          </div>
      </div>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2 px-4 pt-4 rounded-3xl bg-opacity-50 shadow-2xl shadow-gray-600/10 bg-white hover:bg-[url(../images/metallic-textured-background.jpg)] bg-blend-overlay hover:bg-yellow-400 border border-gray-100 dark:bg-gray-700 dark:hover:bg-yellow-400 dark:hover:bg-blend-multiply dark:shadow-none dark:border-gray-700">
          <h3 class="text-4xl font-semibold text-gray-800 dark:text-amber-50 text-center">
            Gold
          </h3>
          <br>
          <div class="flex gap-4 items-center pb-10 flex-row flex-wrap justify-evenly">
            <img src="./images/clients/quil.png" alt="Quillaudits" class="h-12 md:h-24 w-auto" loading="lazy">
            <img src="./images/clients/gmc.png" alt="GMC" class="h-12 md:h-24 w-auto" loading="lazy">
        </div>
      </div>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2 px-4 pt-4 rounded-3xl bg-opacity-50 shadow-2xl shadow-gray-600/10 bg-white hover:bg-[url(../images/metallic-textured-background.jpg)] bg-blend-multiply hover:bg-gray-300 border border-gray-100 dark:bg-gray-700 dark:hover:bg-gray-400 dark:shadow-none dark:border-gray-700">
          <h3 class="text-4xl font-semibold text-gray-800 dark:text-gray-50 text-center">
            Silver
          </h3>
          <br>
          <div class="flex gap-4 items-center pb-10 lg:pb-0 flex-row flex-wrap justify-evenly">
            <img src="./images/clients/filecoin.svg" alt="FileCoin" class="h-12 md:h-32" loading="lazy">
            <img src="./images/clients/Replit.svg" alt="Replit" class="h-12 md:h-32" loading="lazy">
            <img src="./images/clients/solana.svg" alt="Solana" class="h-6 md:h-12" loading="lazy">
        </div>
      </div>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2 px-4 pt-4 rounded-3xl bg-opacity-50 shadow-2xl shadow-gray-600/10 bg-white hover:bg-[url(../images/metallic-textured-background.jpg)] bg-blend-multiply hover:bg-orange-300 border border-gray-100 dark:bg-gray-700 dark:hover:bg-orange-500 dark:shadow-none dark:border-gray-700">
          <h3 class="text-4xl font-semibold text-gray-800 dark:text-orange-50 text-center">
            Bronze
          </h3>
          <br>
          <div class="flex gap-4 items-center pb-10 flex-row flex-wrap justify-evenly">
            <img src="./images/clients/intc.png" alt="InterviewCake" class="h-8 md:h-16" loading="lazy">
            <img src="./images/clients/intb.png" alt="InterviewBuddy" class="h-8 md:h-16" loading="lazy">
            <img src="./images/clients/axure.svg" alt="Axure" class="h-6 md:h-12" loading="lazy">
            <img src="./images/clients/xyz.png" alt="xyz" class="h-8 md:h-16" loading="lazy">
            <img src="./images/clients/verbwire.svg" alt="Verbwire" class="h-8 md:h-16" loading="lazy">
          </div>
      </div>

    </div>
  </div>
</div>