---
import Container from "./Container.astro";
---

<div id ="Community" class="relative" >
  <Container>
<div class="mt-6 m-auto md:w-8/12 lg:w-7/12">
    <h1 class="text-center text-3xl font-bold text-gray-800 dark:text-gray-100 md:text-5xl">COLLABORATORS</h1>
</div>
<div>
<div class="mt-5 ml-1 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5">
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
    <img src="./images/clients/cc_mit.png" class="h-17 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
  </div>
<div class="p-4 ml-2 grayscale transition duration-200 hover:grayscale-0">
  <img src="./images/clients/anvesh.png" class="h-222 w-auto mx-auto" loading="lazy" alt="client logo" width="600" height="600" />
</div>
<div class="p-4 ml-2 flex grayscale transition duration-200 hover:grayscale-0">
  <img src="./images/clients/gfg.png" class="h-222 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
</div>
  <div class="p-4 ml-2 flex grayscale transition duration-200 hover:grayscale-0">
    <img src="./images/clients/iee.png" class="h-222 w-auto m-auto" loading="lazy" alt="client logo" width="300" height="300" />
  </div>
  <div class="p-4  flex grayscale transition duration-200 hover:grayscale-0 ml-3">
    <img src="./images/clients/csi.png" class="h-222 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
  </div>
  
 
</div>
</div>
</Container>




<Container>
  <div>
  <div class="mt-5 ml-1 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5">
    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
      <img src="./images/clients/eve.png" class="h-17 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
  <div class="p-4 ml-2 grayscale transition duration-200 hover:grayscale-0">
    <img src="./images/clients/gdsc.png" class="h-222 w-auto mx-auto" loading="lazy" alt="client logo" width="600" height="600" />
  </div>
  <div class="p-4 ml-2 flex grayscale transition duration-200 hover:grayscale-0">
    <img src="./images/clients/cc_bv.png" class="h-222 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
  </div>
    <div class="p-4 ml-2 flex grayscale transition duration-200 hover:grayscale-0">
      <img src="./images/clients/cdao.png" class="h-222 w-auto m-auto" loading="lazy" alt="client logo" width="300" height="300" />
    </div>
    <div class="p-4  flex grayscale transition duration-200 hover:grayscale-0 ml-3">
      <img src="./images/clients/gfg_abes.png" class="h-222 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
    
   
  </div>
  </div>
  </Container>
</div>
