---
import Container from "./Container.astro";
---
<div id ="Community">
    <div class=" max-w-5xl mx-auto md:px-12 xl:px-6 xl:pt-40 sm:pt-60">

<div class="mt-6 m-auto md:w-8/12 lg:w-7/12">
    <h1 class="text-center text-3xl font-bold text-gray-800 dark:text-gray-100 md:text-5xl">Community Partners</h1>
</div>
<div>
<div class="mt-3 ml-1 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
      <img src="./images/clients/polygon.svg" class="w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
  <div class="p-4 ml-6 grayscale transition duration-200 hover:grayscale-0">
    <img src="./images/clients/Replit.svg" class="w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
  </div>
  <div class="p-4 ml-6 flex grayscale transition duration-200 hover:grayscale-0">
    <img src="./images/clients/Devfolio.svg" class="w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
  </div>
    <div class="p-4 ml-6 flex grayscale transition duration-200 hover:grayscale-0">
      <img src="./images/clients/solana.svg" class="w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
    <div class="p-4 ml-6 flex grayscale transition duration-200 hover:grayscale-0">
      <img src="./images/clients/wolfarm.svg" class="w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
    <div class="p-4 ml-6 flex grayscale transition duration-200 hover:grayscale-0">
      <img src="./images/clients/mycert.svg" class="w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
    </div>
</div>
</div>
</div>
