---
import Container from "./Container.astro"
import logo from "../images/logo.png"
---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">LIVE THE CODE <span class="text-primary dark:text-white">2.0</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">A weekend of innovation and creativity awaits! Join us for electrifying challenges, collaborative brilliance, and the chance to shape the future. Unleash y our potential and be part of a vibrant community driving positive change. Let's hack together!</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Apply-With-Devfolio 
                        </span
                      >
                    </a>
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Rules-Doc</span
                      >
                    </a>
                </div>
            </div>
                <div class="mt-12 ml-2 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                  <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                      <img src="./images/clients/polygon.svg" class="h-17 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                  <div class="p-4 ml-2 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/Replit.svg" class="h-17 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                  <div class="p-4 ml-2 flex grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/Devfolio.svg" class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                    <div class="p-4 ml-2 flex grayscale transition duration-200 hover:grayscale-0">
                      <img src="./images/clients/solana.svg" class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 ml-2 flex grayscale transition duration-200 hover:grayscale-0">
                      <img src="./images/clients/wolfarm.svg" class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                    <div class="p-4 ml-2 flex grayscale transition duration-200 hover:grayscale-0">
                      <img src="./images/clients/mycert.svg" class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                    </div>
                  
                </div>
          </div>
      </Container>
  </div>