---
import Container from "./Container.astro"

---

<div id="prize">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        PRIZES
      </h2>
    </div>
      <div class="grid gap-8 md:grid-cols-4 lg:grid-cols-4">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              WINNER
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              <ul class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                <li class="text-lg">INR 7,000 + Prizes For Everyone</li>
              </ul>         
            </p>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              First RUNNER UP
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300 text-lg" >
              INR 5,500 + Prizes For Everyone
            </p>
            
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              SECOND RUNNER UP
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300 text-lg">
              INR 4,500 + Prizes For Everyone
            </p>
          </div>
        </div>

        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              Pool
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300 text-lg">
             INR 1,000 per Team + Prizes For Everyone. (X3)
            </p>
            
          </div>
          
        </div>

      </div>




      <div class="grid gap-8 md:grid-cols-4 lg:grid-cols-4 mt-4 mb-5">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          
          <div class="mt-6 relative">
           
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              Solana $850
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              SOLANA BOUNTY FOR BEST:
              <ul class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                <li class="text-lg mt-2">Advanced Project:500$</li>
                <li class="text-lg mt-2">Beginners Project: $100</li>
                <li class="text-lg mt-2">Rising Teknoking: $250</li>
              </ul> 
            </p>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              POLYGON & Ethereum $350 
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300 text-lg">Use Polygon and/or Ethereum Track To Built Best Hack Build. </p>
              <ul class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                <li class="text-lg ">Ethereum + Polygon: $200</li>
                <li class="text-lg mt-2">Ethereum: $150 </li>
              </ul>         
            </p>
  
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              DataverseOS $300
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Best use of DataverseOS: $300
            </p>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">We are giving 3x Prizes: $100 for Best use of DataverseOS</p>
           
          </div>
        </div>


        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              Filecoin $250
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Best use of Filecoin and/or IPFS: $250
            </p>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">Best use of FIlecoin gets 250$ Bounty</p>
           
          </div>
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              Replit $50
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300 text-lg">
              Winning Project deployed on Replit: $50
            </p>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">Replit is the best platform for quickly starting, sharing, and developing projects in any programming language, right from your browser.</p>
           
          </div>
        </div>
        
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              Verbwire $5,000
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              5000 API Credits to be distributed across 20 teams.
            </p>
          
           
          </div>
        </div>

        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              Hyperlane $300:           </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Best use of hyperlane worth $300.
            </p>
          
           
          </div>
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="mt-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
              QuillAudits $2500            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              QuillAudits Grants.These Grants will be in Quill Credits.
            </p>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              One lucky winner will be granted $2500 worth of Quill Credits.
            </p>
          
           
          </div>
        </div>

        

      </div>

      <div class="mb-20 space-y-4 px-6 md:px-0 lg:mt-16 xl:mt-16 md:mt-14 sm:mt-14">
        <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
         PARTICIPATION PRIZES
        </h2>
      </div>
      <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10 text-gray-600 dark:text-gray-300">
        <div class="mt-2 relative">
         
          <p class="mt-2 mb-8 text-gray-600 dark:text-gray-300">
            <ul class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              <li class="text-lg mt-2"><span class="text-xl font-bold">Axure $900:</span> Certificates for the winners and 1 year free Axure subscription worth $300.(X3)</li>
              <li class="text-lg mt-2"><span class="text-xl font-bold">Interview Cake $200:</span> Interview cake courses for free for top 150 participants.</li>
              <li class="text-lg mt-2"><span class="text-xl font-bold">InterviewBuddy $200:</span> InterviewBuddy discount coupons and free courses for the top 100 participants</li>
              <li class="text-lg mt-2"><span class="text-xl font-bold">.xyz: $400 :</span> Free .xyz domain hosting for top 350 Participants</li>
              <li class="text-lg mt-2"><span class="text-xl font-bold">Give My Certificate:</span> Certificates for all the winners and participants.              </li>
            </ul> 
          </p>
          <a href="https://live-the-code.devfolio.co/prizes?partner=Axure" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm font-bold">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
          
        </div>
        
      </div>
  </Container>
</div>
