---
import Container from "./Container.astro"
import elixir from "../images/elixir.svg"
import codechef from "../images/codechef.svg"
---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Teams
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-2 gap-20 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-25 h-25 l p-10" src={elixir} alt="user avatar" width="600" height="600" loading="lazy">
          
        </div>
        <div>
          <h6 class="text-7xl text-center mt-7 font-medium text-gray-700 dark:text-white">Elixir</h6>
          <p class="text-sm text-gray-500 dark:text-gray-300"></p>
        </div>
        <p class="mt-8">Elixir aces as an unparalleled community consisting of the greatest minds of our college. It has people ranging from tech domains to non-tech sectors, all of whom are competent in their respective areas and strive together to make Elixir an astounding entity. With the perfect space to learn, collaborate, and explore, you are bound to experience many "Hello World" moments here. We are proud to call ourselves a community for the students, by the students, and of the students.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-25 h-25  p-10" src={codechef} alt="user avatar" width="600" height="600" loading="lazy">
          
        </div>
        <div>
          <h6 class="text-6xl text-center mt-9 font-medium text-gray-700 dark:text-white">Codechef</h6>
          <p class="text-sm text-gray-500 dark:text-gray-300"></p>
        </div>
        <p class="mt-8">CodeChef ADGITM thrives as a tight-knit coder community, united in sharing practices, achievements & resources for problem-solving excellence. Nurturing coding enthusiasts, aiding novices. Through diverse events, contests, and hackathons, we cultivate a vibrant coding culture, raising awareness of coding's transformative power. Our pillars: robust networking and empowering mentorship</p>
      </div>
      

    </div>
  </Container>
</div>